@use "./reboot.scss";

.app {
    background-color: var(--bs-body-bg);
    width: 100vw;
    height: 100vh;
}

.video-inference {
    position: relative;

    &__marker {
        position: absolute;
        border: 1px solid var(--bs-code-color);
        color: var(--bs-code-color);
    }
}
